/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.overlay{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: .5s;
}

.overlay.popup{
    visibility: visible;
    background-color: rgba(0, 0, 0, .5);
}

.overlay .popup .title{
    background-color: #2fccff;
    transform:scale(0);
    opacity: 0;
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    transition: .5s;
}

.overlay.popup .popup .title{
    transform: scale(1);
    opacity: 100;
    text-align: left;
}

.overlay.popup .popup .title p{
    padding: 15px;
    float: left;
}

.overlay .popup .description{
    background-color: #f8f8f8;
    transform:scale(0);
    opacity: 0;
    width: 300px;
    height: 150px;
    text-align: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    transition: .5s;
}

#description{
    margin: 20px;
    margin-top: 0;
    padding-top: 30px;
}

.overlay.popup .popup .description{
    transform: scale(1);
    opacity: 100;
}

header{
    position: relative;
    z-index: 1;
    background: #2fccff;
}

.tabbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    overflow: hidden;
    padding: 20px;
    margin-bottom: -20px;
}

.tabbar a button{
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    float: right;
    transition: 0.3s;
}

.tabbar a button:hover{
    color: #e4e4e4;
}

.tabbar .left,
.tabbar .right{
    width: 50%;
    display: flex;
    align-items: center;
}

.tabbar .left{
    justify-content: left;
}

.tabbar .right{
    justify-content: right;
}

.tabbar span,
.tabbar img{
    color: white;
    float: left;
    cursor: pointer;
}

.tabbar img{
    width: 10%;
    max-width: 40px;
    min-width: 30px;
    height: auto;
}

.tutorial{
    width: 70%;
    max-width: 400px;
    height: auto;
    margin: 30px;
    border-radius: 10px;
    float: none;
    box-shadow: 0 0 0.3rem #505050;
}

.smartscreen h1{
    margin-left: 10px;
    margin-right: 10px;
}

.smartscreen p{
    margin-left: 10px;
    margin-right: 10px;
}

.separator{
    background-color:#2fccff;
    color: white;
    width: 100%;
    padding-top: 30px;
    height: fit-content;
    box-shadow: 0 0 0.7rem #2fccff;
}

.separator_white{
    width: 100%;
    padding-top: 30px;
    height: fit-content;
    box-shadow: none;
}

.smartscreen{
    margin-top: -10%;
}

h1{
    font-weight: 400;
    font-size: 30px;
}

h2.title{
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2.7px;
}

h5{
    color: rgb(71, 71, 71);
    font-weight: 400;
    margin-top: 0;
    transform: translateY(-100%);
    margin: 10px;
}

.title{
    color: white;
    width: fit-content;
    white-space: nowrap;
}

/* #region: top description, image, download button, animation */

.header{
    height: fit-content;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.welcome{
    display: grid;
    gap: 50px;
    grid-template-columns: 400px 400px;
    height: fit-content;
}

.welcome .description,
.welcome .image{
    display: flex;
    align-items: center;
}

.welcome .description{
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.welcome .description .buttons{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;
    margin-top: 40px;
}

@media screen and (max-width: 900px) {
    .welcome{
        grid-template-columns: minmax(200px, 400px);
    }
    .welcome .description .buttons .flexible button{
        width: auto;
    }
    .welcome .description .buttons .flexible span{
        display: none;
    }
    .welcome .image{
        order: 0;
    }
    .welcome .description{
        order: 1;
    }
  }

.welcome .description p{
    color: white;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.welcome .image img{
    object-fit: contain;
    width: 100%;
    float: left;
}

.welcome .description a{
    text-decoration: none;
    width: min-content;
}

.welcome .description span{
    width: 100%;
    text-align: center;
}

.welcome .description .button{
    display: flex;
    align-items: center;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    border-style: none;
    background: white;
    color: #2fccff;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.welcome .description .button:hover{
    
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.welcome .description .button:active{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    background: rgb(212, 246, 255);
}

#bm{
    max-width: auto;
    height: fit-content;
    margin: 0 auto;
    transform: translateY(-50%);
}

/*#endregion*/

/* #region: body, sections, descriptions and images */
.body{
    width: 100%;
    margin-bottom: 50px;
}

.body .section-parent{
    width: 100%;
    display: flex;
    margin-bottom: 150px;
    justify-content: center;
}

.body .section{
    display: grid;
    grid-template-columns: 400px 400px;
    margin: 0px 50px;
    grid-auto-rows: auto;
    gap: 50px;
}

@media screen and (max-width: 900px) {
    .body .section{
        grid-template-columns: minmax(300px, 400px);
    }
    .body .section .img{
        order: 0;
    }
    .body .section .description{
        order: 1;
    }
  }

.body .section img{
    width: 100%;
    border-radius: 10px;
}

.body .section .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
}

.body .section .description *{
    text-align: left;
}

.body .section .description h2{
    margin-bottom: 30px;
    color: #0692c0;
    font-size: 35px;
    font-weight: 500;
}

/*#endregion*/


h1{
    color:#1baada;
}

.parrafo{
    text-align: left;
    margin: 10%;
    margin-bottom: 50px;
    margin-top: 0px;
}

/* #region: footer */

footer{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #2fccff;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer #copyright{
    width: 100%;
    text-align: start;
    padding: 0px 50px;
}

footer #email{
    width: 100%;
    text-align: end;
    padding: 0px 50px;
}

@media screen and (max-width: 480px) {
    footer{
        grid-template-columns: minmax(200px, 400px);
    }

    footer #copyright,
    footer #email{
        text-align: center;
    }
  }


/*#endregion*/